html, body {
    padding: 0;
    margin: 0;
}

div {
    margin-top: 10px;
}

.dummyDiv1 {
    background-color: aqua;
}

.dummyDiv1:before {
    content: "Once upon a time ... ";
    font-weight: bold;
    font-style: italic;
    background-color: cornflowerblue;
}

.dummyDiv1:after {
    content: "... The end";
    font-weight: bold;
    font-style: italic;
    background-color: cornflowerblue;
    width: 200px;
}

.dummyDiv2 {
    background: url('beach.jpg');
    width: 500px;
    height: 400px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);    
}

.dummyImage {
    transform: rotate(180deg);   
}